.bell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -3rem 2rem;
    position: relative;
}

.bellImg {
    width: 64px;
    height: auto;
    position: relative;
    left: -0.8rem;
}
.intro{
    margin-right: 14rem;
}
.title{
    font-size: 3rem;
}
.desc{
    padding: 2rem 0;
}

.center{
    background: yellow;
    position: absolute;
    top: 1rem;
    right: 1rem;
}