.bell {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: -3rem 2rem;
    justify-content: space-between;
    max-width: 30rem;
}

.bellImg {
    width: 64px;
    height: auto;
    position: relative;
    left: -0.8rem;
}

.intro {
    flex: 0.8;
}

.title {
    font-size: 3rem;
}

.desc {
    padding: 2rem 0;
}

.center {
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem 1.5rem 0 0;
}