* {
    margin: 0;
    padding: 0;
}

/* .app {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.left{
justify-self:flex-end;
min-height: 100vh;

} */


.app{
    background: red;
    min-height: 100vh;
    display: flex ;
    justify-content: space-between;
}

.left{
    background: rgb(161, 161, 232);
    max-width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right{
    background: yellow;
    max-width: 50%;
    min-width: 50%;
}

.illus{
    max-width: 50%;
    height: auto;
}